<template name="devwikHeader">
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
					<a class="brand" href="#"><span class='###siteName###'></span></a>
          <div class="nav-collapse collapse">
						###siteLogin###
            <ul class="nav">
              <li class="active"><a href="/">Home</a></li>
							###siteMenu###
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

</template>
